<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftMocking.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D28BC3FF1BC41DDC00152CDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D28BC4131BC41DDC00152CDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D28BC41E1BC41DDC00152CDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
